/* You can add global styles to this file, and also import other style files */
@font-face { font-family: LemonMilk; src: url('./assets/fonts/LemonMilk.otf'); } 
@font-face { font-family: TheAbsolute; font-weight: bold; src: url('./assets/fonts/TheAbsolute.otf');}